.transactionPayment{
    background-color:#0b69ff;
    padding:10px;
    border-radius:5px;
    color:white;
    margin-top:20px;
}


.add-money{
    background-color: #0b69ff;
    color:white;
    padding:10px;
    border-radius:5px;
}